# 03-3 for문

for 문의 기본 구조

    for 변수 in 리스트(또는 튜플, 문자열):
        수행할_문장1
        수행할_문장2

In [1]:
# 전형적인 for문

test_list = ['one', 'two', 'three']

for i in test_list:
    print(i)

one
two
three

In [3]:
# 또 다른 for문의 사용

a = {(1,2), (3,4), (5,6)}

for (first,last) in a:
    print(first + last)

# a 리스트의 요솟값이 튜플이기 때문에 각각의 요소가 자동으로 (first, last) 변수에 대입된다.

3
7
11

In [7]:
# for 문의 응용

# 총 5명의 학생이 시험을 보았는데, 시험점수가 60점 이상이면 합격이고 그렇지 않다면 불합격이다.
# 합격인지, 불합격인지 결괄르 보여주시오.


marks = [95, 68, 40, 50, 70]        #학생들이 점수 리스트

number = 0      # 학생들에게 붙여 줄 번호

for mark in marks:      # 95, 68, 40, 50 ,70을 순서대로 mark에 대입
    number += 1
    if mark >= 60:
        print("%d번 학생은 합격입니다." % number)
    else:
        print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 합격입니다.
3번 학생은 불합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [8]:
# for 문과 continue 문

#  for 문 안의 문장을 수행하는 도중 continue 문을 만나면 for문의 처음으로 돌아가게된다.

In [10]:
# marks2. py

marks = [95, 68, 40, 50, 70]

number = 0

for mark in marks:
    number += 1
    if mark < 60:
        continue        # 점수가 60점 미만인 경우에는 continue 문이 수행되어 for 문의 처음으로 돌아간다.
    print("%d번 학생 축하합니다. 합격입니다."  % number)

1번 학생 축하합니다. 합격입니다.
2번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [12]:
#  for 문과 함께 자주 사용하는 range 함수

# range 함수의 간단한 사용법

a = range(10)
a

# range(10)은 0부터 10미만의 숫자를 포함하는 range객체를 만들어준다.
# 시작 숫자와 끝 숫자를 포함하려면 range(시작_숫자, 끝_숫자) 형태를 사용하는데, 이 때 끝 숫자는 포함되지 않는다.

range(0, 10)

In [13]:

a = range(1, 11)
a

range(1, 11)

In [17]:
# range 함수의 예시 살펴보기

add = 0

for i in range(1,11):
    add += i
    print(add)

1
3
6
10
15
21
28
36
45
55

In [26]:
# range  함수를 사용한 marks3. py

marks = [95, 68, 40, 50, 70]

for number in range(len(marks)):
    if marks[number] <  60:
        continue
    print("%d번 학생 축하합니다. 합격입니다." % number)

0번 학생 축하합니다. 합격입니다.
1번 학생 축하합니다. 합격입니다.
4번 학생 축하합니다. 합격입니다.

In [30]:
# for 문과 range 문을 활용한 구구단

for i in range(2,10):
    for j in range(1,10):
        print("%d X %d = %d" % (i,j,i*j))
    print("===============")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
===============
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
===============
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
===============
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
===============
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
===============
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
===============
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
===============
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
===============

In [31]:
# 리스트 컴프리헨션 사용하기

# 리스트 안에 for 문을 포함하는 리스트 컴프리헨션(List comprehension)을 사용하면 좀 더 편리하고 직관적인 프로그램을 만들 수 있다.

a = [1,2,3,4]
result = []

for num in a:
    result.append(num*3)
    print(result)

[3]
[3, 6]
[3, 6, 9]
[3, 6, 9, 12]

In [45]:
# 위 코딩에 리스트 컴프리헨션을 사용한 코드

a = [1,2,3,4]

result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

In [48]:
# [1,2,3,4] 중에서 짝수에만 3을 곱하여 담는 코드

a = [1,2,3,4]

result = [num * 3 for num in a if num % 2 == 0]
print(result)

[6, 12]

In [51]:
# 리스트 컴프리헨션의 문법

# [포현식 for 항목 in 반복_가능_객체 if 조건문]

# [포현식 for 항목1 in 반복_가능_객체1 if 조건문1
#        for 항목2 in 반복_가능_객체2 if 조건문2
#        ...
#        for 항목n in 반복_가능_객체n if 조건문n]

In [54]:
# 리스트 컴프리헨션을 활용한 구구단의 모든 결과

result = [x * y for x in range(2,10)
                for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [55]:
# for 문과 break 문

# while 문에서와 마찬가지로 for 문에서도 break문을 사용할 수 있다. break 문은 for 문을 강제로 빠져나가고 싶을 때 사용한다.

for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [56]:
# for-else문

# 파이썬의 for문에는 else절을 사용할 수 있다. for-else문은 for문이 정상적으로 종료되었을 때(break로 빠져나가지 않았을 때) else절이 실행된다.

for i in range(5):
    print(i)
else:
    print("for문이 정상 종료되었습니다.")

0
1
2
3
4
for문이 정상 종료되었습니다.

In [60]:
# enumerate 함수 활용하기

# 리스트의 순서(인덱스)와 값을 함께 구하고 싶을 때에는 enumerate 함수를 사용하면 편리하다.

fruits = ['apples', 'banana', 'oranges']
for i, fruit in enumerate(fruits, start=1):
    print(f"{i}: {fruit}")

1: apples
2: banana
3: oranges

In [61]:
# zip함수로 여러 리스트 함께 순회하기

# 두 개 이상의 리스트를 동시에 순회하고 싶을 때는 zip 함수를 사용한다.

names = ['홍길동', '김철수','이영희']
scores = [85,90,75]

for name, score in zip(names, scores):
    print(f"{name}: {score}")

홍길동: 85
김철수: 90
이영희: 75

In [63]:
# 세 개의 리스트 함께 순회하기

names = ['철수', '영희', '맹구']
korean = [85,90,75]
math = [85,70, 95]

for name, kor, mat in zip(names, korean, math):
    print(f"{name}: 국어 {kor}점, 수학 {mat}점")

철수: 국어 85점, 수학 85점
영희: 국어 90점, 수학 70점
맹구: 국어 75점, 수학 95점